<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wednesday.bippobippo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.wednesday.bippobippo.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.wednesday.bippobippo.chart.BabyChartActivity">
            <intent-filter>
                <action android:name="com.wednesday.bippobippo.VIEW_CHART"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        
        <provider
            android:name="com.wednesday.bippobippo.provider.BippoBippoProvider"
            android:authorities="com.wednesday.bippobippo"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.wednesday.bippobippo.READ_DATA"
            android:syncable="true"
            android:writePermission="com.wednesday.bippobippo.WRITE_DATA" />

        <service android:name=".SensorService" >
            <intent-filter>
                <action android:name="com.wednesday.bippobippo.ACTION_START" />
                <action android:name="com.wednesday.bippobippo.ACTION_STOP" />
            </intent-filter>
        </service>
        <service android:name=".network.NetworkCommunicator" >
            <intent-filter>
                <action android:name="com.wednesday.bippobippo.user.SEND" />
                <action android:name="com.wednesday.bippobippo.health.SEND" />
            </intent-filter>
        </service>

        <activity 
            android:name=".AlarmActivity" 
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.wednesday.bippobippo.ACTION_ALARM"/>
                <action android:name="com.wednesday.bippobippo.ACTION_HEAT_ALARM"/>
                <action android:name="com.wednesday.bippobippo.ACTION_WET_ALARM"/>
                <action android:name="com.wednesday.bippobippo.ACTION_BPM_ALARM"/>
                <action android:name="com.wednesday.bippobippo.ACTION_MIC_ALARM"/>
                
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        
        <activity android:name="com.wednesday.bippobippo.SettingsActivity">
            <intent-filter>
                <action android:name="com.wednesday.bippobippo.INIT_SETTING"/>
                <action android:name="com.wednesday.bippobippo.VIEW_SETTING"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        
        <activity android:name="com.wednesday.bippobippo.FirstAidActivity">
            <intent-filter>
                <action android:name="com.wednesday.bippobippo.VIEW_FEVER_DISCRIPTION"/>
                <action android:name="com.wednesday.bippobippo.VIEW_DIARRHEA_DISCRIPTION"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        
        <activity android:name="com.wednesday.bippobippo.GeneralDescriptionActivity">
            <intent-filter>
                <action android:name="com.wednesday.bippobippo.VIEW_FEVER_SOLUTION"/>
                <action android:name="com.wednesday.bippobippo.VIEW_FEVER_NOTICE"/>
                <action android:name="com.wednesday.bippobippo.VIEW_DIARRHEA_SOLUTION"/>
                <action android:name="com.wednesday.bippobippo.VIEW_DIARRHEA_NOTICE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
